<ion-view view-title="Deliveries : All">
    <ion-content>
        <div ng-show="error.value" class="padding">
            <div class="card text-center">
                <div class="item item-text-wrap card-danger">
                    Error : {{ error.info }}
                </div>
            </div>
        </div>

        <a ng-repeat="delivery in deliveries | deliveryOrder " class="item item-icon-left" ng-href="#/app/deliveries/id/{{delivery.id}}">
            <i class="icon fa fa-circle"
                    ng-class="{
                        positive : !delivery.canceled && isState('incoming',delivery.state),
                        energized : !delivery.canceled && isState('progress',delivery.state),
                        balanced : !delivery.canceled && isState('delivered',delivery.state),
                        assertive : delivery.canceled
                                }"></i>
            {{delivery.customerName}}: {{delivery.content}} <small ng-show="isState('progress', delivery.state)">({{delivery.state}})</small>
            <span class="item-note">#{{delivery.numOrder}}</span>
        </a>

    </ion-content>
</ion-view>


