<ion-view view-title="Incoming">
    <ion-content>
        <div ng-show="error.value" class="padding">
            <div class="card text-center">
                <div class="item item-text-wrap card-danger">
                    Error : {{ error.info }}
                </div>
            </div>
        </div>

        <a ng-repeat="delivery in deliveries | orderBy:'numOrder'" class="item item-icon-left" ng-href="#/app/deliveries/id/{{delivery.id}}">
            <i class="icon fa fa-circle positive"></i>
            {{delivery.customerName}}: {{delivery.content}}
            <span class="item-note">#{{delivery.numOrder}}</span>
        </a>

    </ion-content>
</ion-view>
