<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row">
        <h1 class="text-center">Create Vehicle</h1>
    </div>


    <form role="form"
          ng-submit="createVehicle(vehicle)"
          name="form">

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputName">Registration</label>
                <input type="text"
                       ng-model="vehicle.registration"
                       id="InputName"
                       name="name"
                       placeholder="Enter the vehicle registration"
                       class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputType">Type</label>
                <input type="text" class="form-control" id="InputType"
                       placeholder="Enter the vehicle type"
                       ng-model="vehicle.type">
            </div>
        </div>

        <div class="row form-inline">
            <div class="form-group col-sm-offset-3 col-sm-3">
                <label for="InputWeight">Max weight (kg)</label>
                <input type="text" class="form-control" id="InputWeight"
                       placeholder="Enter the maximum weight of the vehicle"
                       ng-model="vehicle.maxWeight">
            </div>

            <div class="form-group col-sm-3">
                <label for="InputArea">Max Dimensions (m²)</label>
                <input type="text" class="form-control" id="InputArea"
                       placeholder="Enter the maximum area of the vehicle"
                       ng-model="vehicle.maxArea">
            </div>
        </div>


        <div class="row row-space">
            <div class="form-group center-block">
                <div class="text-center">
                    <button type="submit" class="btn btn-success"
                            ng-disabled="form.name.$invalid">Create
                    </button>
                </div>
            </div>
        </div>


    </form>


    <div class="row">
        <div class="center-block text-center">
            <span ng-show="success && form.name.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Vehicle created successfully
            </span>

            <span ng-show="error.value && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 Error : {{error.info}}
            </span>


            <spinner loading="loading"></spinner>
        </div>
    </div>
</div>
