<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row">
        <h1 class="text-center">Edit Vehicle</h1>
    </div>

    <form role="form"
          ng-submit=""
          name="formID">

        <div class="row">
            <div class="form-group col-sm-offset-4 col-sm-4">
                <label for="InputId">Vehicle registration</label>
                <input type="text" class="form-control"
                       placeholder="Enter vehicle registration"
                       id="InputId"
                       ng-model="vehicle.registration"
                       required>
            </div>
        </div>

        <div class="row">
            <div class="form-group center-block">
                <div class="text-center">
                    <button type="submit" class="btn btn-success"
                            ng-disabled="form.name.$invalid">Search
                    </button>
                </div>
            </div>
        </div>
    </form>


    <form role="form"
          ng-submit="add(vehicle)"
          name="form">

        <div class="row">
            <hr>
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputName">Registration</label>
                <input type="text"
                       ng-model="vehicle.name"
                       id="InputName"
                       name="name"
                       placeholder="Enter the vehicle name"
                       class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputType">Type</label>
                <input type="text" class="form-control" id="InputType"
                       placeholder="Enter the vehicle type"
                       ng-model="vehicle.type">
            </div>
        </div>

        <div class="row form-inline">
            <div class="form-group col-sm-offset-3 col-sm-3">
                <label for="InputWeight">Max weight</label>
                <input type="text" class="form-control" id="InputWeight"
                       placeholder="Enter the vehicle type"
                       ng-model="vehicle.type">
            </div>

            <div class="form-group col-sm-3">
                <label for="InputSize">Max size</label>
                <input type="text" class="form-control" id="InputSize"
                       placeholder="Enter the vehicle type"
                       ng-model="vehicle.type">
            </div>
        </div>
    </form>

    <div class="row row-lg-space">
        <button class="btn btn-danger col-xs-offset-5 col-xs-2 col-sm-offset-2 col-sm-2 col-space"
                ng-click="remove(delivery)"
                ng-disabled="!found">
            Delete
        </button>
        <button class="btn btn-primary col-xs-offset-5 col-xs-2 col-space col-sm-offset-1 col-sm-2"
                ng-click="editor=true"
                ng-disabled="!found"
                ng-show="!editor">
            Edit
        </button>
        <button class="btn btn-success col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="update(delivery)"
                ng-show="editor"
                ng-disabled="form.$invalid">
            Update
        </button>
        <button class="btn primary col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="resetChange()"
                ng-show="editor">
            Reset
        </button>
    </div>


    <div class="row">
        <div class="center-block text-center">
            <span ng-show="success && form.name.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Vehicle created successfully
            </span>

            <span ng-show="error && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 Vehicle not created
            </span>

            <span ng-show="invalidName" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Error : {{error.info}}
            </span>

            <spinner loading="loading"></spinner>
        </div>
    </div>
</div>
