<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row">
        <h1 class="text-center">Edit Vehicle</h1>
    </div>

    <form role="form"
          ng-submit=""
          name="formID">

        <div class="row">
            <div class="form-group col-sm-offset-4 col-sm-4">
                <label for="Inputreg">Vehicle registration</label>
                <input type="text"
                       ng-model="retrieved"
                       id="Inputreg"
                       class="form-control"
                       placeholder="Enter vehicle registration"
                       uib-typeahead="vehicle as vehicle.registration for vehicle in vehicles | filter:{registration:$viewValue}| limitTo:8 "
                       typeahead-on-select='onSelect($item, $model, $label)'
                       typeahead-no-results="noResults"
                       required>
            </div>
        </div>

    </form>


    <form role="form" name="form">

        <div class="row">
            <hr>
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputName">Registration</label>
                <input type="text"
                       ng-model="vehicle.registration"
                       id="InputName"
                       name="name"
                       placeholder="Enter the vehicle registration"
                       class="form-control"
                       ng-disabled="!editor"
                       required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputType">Type</label>
                <input type="text" class="form-control" id="InputType"
                       placeholder="Enter the vehicle type"
                       ng-model="vehicle.type"
                       ng-disabled="!editor"
                       required>
            </div>
        </div>

        <div class="row form-inline">
            <div class="form-group col-sm-offset-3 col-sm-3">
                <label for="InputWeight">Max weight (kg)</label>
                <input type="text" class="form-control" id="InputWeight"
                       placeholder="Enter the vehicle weight limit"
                       ng-model="vehicle.maxWeight"
                       ng-disabled="!editor"
                       required>
            </div>

            <div class="form-group col-sm-3">
                <label for="InputSize">Max Area (m²)</label>
                <input type="text" class="form-control" id="InputSize"
                       placeholder="Enter the vehicle area limit"
                       ng-model="vehicle.maxArea"
                       ng-disabled="!editor"
                       required>
            </div>
        </div>
    </form>

    <div class="row row-lg-space">
        <button class="btn btn-danger col-xs-offset-5 col-xs-2 col-sm-offset-2 col-sm-2 col-space"
                ng-click="remove(vehicle)"
                ng-disabled="!found"
                ng-show="false">
            Delete
        </button>
        <button class="btn btn-primary col-xs-offset-5 col-xs-2 col-space col-sm-offset-1 col-sm-2"
                ng-click="editor=true"
                ng-disabled="!found"
                ng-show="!editor">
            Edit
        </button>
        <button class="btn btn-success col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="update(vehicle)"
                ng-show="editor"
                ng-disabled="form.$invalid">
            Update
        </button>
        <button class="btn primary col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="resetChange()"
                ng-show="editor">
            Reset
        </button>
    </div>


    <div class="row">
        <div class="center-block text-center">
            <span ng-show="success && form.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Vehicle created successfully
            </span>

            <span ng-show="error.value && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                 Error : {{error.info}}
            </span>


            <spinner loading="loading"></spinner>
        </div>
    </div>
</div>
