<div ng-controller="ListDriverController" class="ng-cloak" ng-cloak>
    <div class="row">
        <h1 class="text-center">List Drivers</h1>
    </div>

    <div class="row row-lg-space">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
                <span class="input-group-addon">
                   <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search..."
                        ng-model="inputSearch">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"
                    ng-class="{active : selected()===letter && inputSearch===''}">
                    <a ng-click="sortArray(letter)" href=""
                        >{{letter}}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-10">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="table-sortable"
                            ng-click="reverse=!reverse ;order('id', reverse)">
                            ID
                                <span class="fa"
                                      ng-class="{ 'fa-caret-down' :reverse , 'fa-caret-up':!reverse}"
                                      ng-show="active.id">
                                </span>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>

                        <th  class="text-center">Edit</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="driver in drivers">
                        <td>{{driver.id}}</td>
                        <td>{{driver.name}}</td>
                        <td>{{driver.email}}</td>
                        <td>{{driver.phone}}</td>
                        <td class="text-center"><span class=" btn btn-primary fa fa-pencil-square-o"
                                ng-go="/driver/edit/{{driver.ID}}"></span></td>
                        <td class="text-center"><a class=" btn btn-danger fa fa-file-pdf-o"
                                                   target="_blank" ng-href="/php/qrCode/drivers/{{driver.ID}}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="center-block text-center">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"
                    ng-class="{active : selected()===letter && inputSearch===''}">
                    <a ng-click="sortArray(letter)" href=""
                            >{{letter}}</a></li>
            </ul>
        </div>
    </div>
</div>
