<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row">
        <h1 class="text-center">Create Delivery</h1>
    </div>

    <form role="form"
          ng-submit="createDelivery()"
          name="form">


        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputCompany">Customer's Name</label>
                <input type="text"
                       ng-model="search.customer"
                       id="InputCompany"
                       class="form-control"
                       placeholder="Enter the customer's name"
                       uib-typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue}| limitTo:8 "
                       typeahead-on-select='onSelectCustomer($item, $model, $label)'
                       typeahead-no-results="noResults"
                       required>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading text-center"><h4>Sender</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="pickupCustomer">Customer's Name</label>
                                <input type="text"
                                       id="pickupCustomer"
                                       class="form-control"
                                       ng-model="search.pickup"
                                       placeholder="Enter the customer's name"
                                       uib-typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue}| limitTo:8 "
                                       typeahead-on-select='onSelectSender($item, $model, $label)'
                                       typeahead-no-results="noResults"
                                       required>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-xs-10">
                                <strong>{{sender.name}}</strong><br>
                                <span ng-bind-html="sender.address"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading text-center"><h4>Receiver</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="InputNameBis">Customer's Name</label>
                                <input type="text"
                                       ng-model="search.delivery"
                                       id="InputNameBis"
                                       class="form-control"
                                       placeholder="Enter the customer's name"
                                       uib-typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue}| limitTo:8 "
                                       typeahead-on-select='onSelectReceiver($item, $model, $label)'
                                       typeahead-no-results="noResults"
                                       required>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-xs-10">
                                <strong>{{receiver.name}}</strong><br>
                                <span ng-bind-html="receiver.address"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-space">
            <div class="center-block">
                <div class="text-center">
                    <h3>Details</h3>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputType">Delivery Content</label>
                <input type="text"
                       ng-model="delivery.content"
                       id="InputType"
                       name="name"
                       placeholder="Enter the package content"
                       class="form-control" required>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputWeight">Weight (kg)</label>
                <input type="text"
                       ng-model="delivery.weight"
                       id="InputWeight"
                       name="name"
                       placeholder="Enter the delivery weight XXXXX.XX"
                       class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputArea">Area (m²)</label>
                <input type="text"
                       ng-model="delivery.area"
                       id="InputArea"
                       name="name"
                       placeholder="Enter the delivery area XX.XX"
                       class="form-control" required>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputInfo">Information (optional) </label>
                    <textarea type="text" rows="3" class="form-control" id="InputInfo"
                              placeholder="Enter more information here"
                              ng-model="delivery.info"></textarea>
            </div>
        </div>


        <div class="row">
            <div class="form-group center-block">
                <div class="text-center">
                    <button type="submit" class="btn btn-success"
                            ng-disabled="form.$invalid">Create
                    </button>
                </div>
            </div>
        </div>

    </form>


    <div class="row row-space">
        <div class="center-block text-center">
            <span ng-show="success && form.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Delivery created successfully
            </span>

            <span ng-show="error.value && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Error : {{error.info}}
            </span>
        </div>
    </div>

</div>