<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row row-lg-space">
        <h1 class="text-center">Edit Delivery</h1>
    </div>

    <form role="form"
          ng-submit="getDelivery(deliveryId)"
          name="formID">

        <div class="row">
            <div class="form-group center-block" style="width: 30%">
                <label for="InputId">Delivery ID</label>
                <input type="text" class="form-control"
                       placeholder="Enter delivery ID"
                       id="InputId"
                       ng-model="deliveryId"
                       required>
            </div>
        </div>

        <div class="row">
            <div class="form-group center-block">
                <div class="text-center">
                    <button type="submit" class="btn btn-success"
                            ng-disabled="formID.$invalid">Search
                    </button>
                </div>
            </div>

        </div>

        <div ng-show="errorSearch.value" class="row row-lg-space">
            <div class="center-block text-center">
            <span class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Error : {{errorSearch.info}}
            </span>
            </div>
        </div>

        <hr>
    </form>


    <form role="form"
          ng-submit="createDelivery()"
          name="form">

        <div class="row row-space">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputCompany">Customer's Name</label>
                <input type="text"
                       ng-model="search.customer"
                       id="InputCompany"
                       class="form-control"
                       placeholder="Enter the customer's name"
                       uib-typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue}| limitTo:8 "
                       typeahead-on-select='onSelectCustomer($item, $model, $label)'
                       typeahead-no-results="noResults"
                       ng-disabled="!editor"
                       required>
            </div>
        </div>


        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading text-center"><h4>Sender</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="pickupCustomer">Customer's Name</label>
                                <input type="text"
                                       id="pickupCustomer"
                                       class="form-control"
                                       ng-model="search.sender"
                                       placeholder="Enter the customer's name"
                                       uib-typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue}| limitTo:8 "
                                       typeahead-on-select='onSelectSender($item, $model, $label)'
                                       typeahead-no-results="noResults"
                                       ng-disabled="!editor"
                                       required>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-xs-10">
                                <strong>{{sender.name}}</strong><br>
                                <span ng-bind-html="sender.address"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading text-center"><h4>Receiver</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="InputNameBis">Customer's Name</label>
                                <input type="text"
                                       ng-model="search.receiver"
                                       id="InputNameBis"
                                       class="form-control"
                                       placeholder="Enter the customer's name"
                                       uib-typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue}| limitTo:8 "
                                       typeahead-on-select='onSelectReceiver($item, $model, $label)'
                                       typeahead-no-results="noResults"
                                       ng-disabled="!editor"
                                       required>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-xs-10">
                                <strong>{{receiver.name}}</strong><br>
                                <span ng-bind-html="receiver.address"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-space">
            <div class="center-block">
                <div class="text-center">
                    <h3>Assignment <small>(can be completed later)</small></h3>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="pickupCustomer">Driver's Name</label>
                <input type="text"
                       id="driverInput"
                       class="form-control"
                       ng-model="search.driver"
                       placeholder="Enter the driver's name"
                       uib-typeahead="driver as driver.name for driver in drivers | filter:{name:$viewValue}| limitTo:8 "
                       typeahead-on-select='onSelectDriver($item, $model, $label)'
                       typeahead-no-results="noResults"
                       ng-disabled="!editor">
            </div>

        </div>


        <div class="row row-space">
            <div class="center-block">
                <div class="text-center">
                    <h3>Details</h3>
                </div>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputType">Due</label>

                <p class="input-group">
                    <input type="text" class="form-control"
                           uib-datepicker-popup="dd-MMMM-yyyy"
                           ng-model="delivery.dateDue"
                           id="inputDateFrom"
                           is-open="opened"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)"
                           ng-required="true"
                           min-date="{{now}}"
                           close-text="Close"
                           ng-disabled="!editor"
                           required>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open($event)"
                        ng-disabled="!editor">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
                </p>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputType">Delivery Content</label>
                <input type="text"
                       ng-model="delivery.content"
                       id="InputType"
                       name="name"
                       placeholder="Enter the package content"
                       class="form-control"
                       ng-disabled="!editor"
                       required>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputWeight">Weight (kg)</label>
                <input type="text"
                       ng-model="delivery.weight"
                       id="InputWeight"
                       name="name"
                       placeholder="Enter the delivery weight XXXXX.XX"
                       class="form-control"
                       ng-disabled="!editor"
                       required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputArea">Dimensions (m²)</label>
                <input type="text"
                       ng-model="delivery.area"
                       id="InputArea"
                       name="name"
                       placeholder="Enter the delivery area XX.XX"
                       class="form-control"
                       ng-disabled="!editor"
                       required>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-offset-3 col-md-6">
                <label for="InputInfo">Information (optional) </label>
                    <textarea type="text" rows="3" class="form-control" id="InputInfo"
                              placeholder="Enter more information here"
                              ng-model="delivery.info"
                              ng-disabled="!editor"></textarea>
            </div>
        </div>
    </form>

    <div class="row row-lg-space">
        <button class="btn btn-danger col-xs-offset-5 col-xs-2 col-sm-offset-2 col-sm-2 col-space"
                ng-click="remove(delivery)"
                ng-disabled="!found"
                ng-show="false">
            Delete
        </button>
        <button class="btn btn-primary col-xs-offset-5 col-xs-2 col-space col-sm-offset-1 col-sm-2"
                ng-click="editor=true"
                ng-disabled="!found"
                ng-show="!editor">
            Edit
        </button>
        <button class="btn btn-success col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="update(delivery)"
                ng-show="editor"
                ng-disabled="form.$invalid">
            Update
        </button>
        <button class="btn primary col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="resetChange()"
                ng-show="editor">
            Reset
        </button>
    </div>


    <div class="row">
        <div class="center-block text-center">
            <span ng-show="success && form.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Delivery created successfully
            </span>

            <span ng-show="error.value && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Error : {{error.info}}
            </span>
        </div>
    </div>
</div>

