<div ng-controller="ListCustomerController" class="ng-cloak" ng-cloak>
    <div class="row">
        <h1 class="text-center">List Customers</h1>
    </div>

    <div class="row row-lg-space">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
                <span class="input-group-addon">
                   <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search..."
                        ng-model="inputSearch">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"
                    ng-class="{active : selectedLetter===letter && inputSearch===''}">
                    <a ng-click="sortArray(letter)" href=""
                        >{{letter}}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-10">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th class="table-sortable text-center"
                            ng-click="reverse=!reverse ;order('name', reverse)">
                            Name
                                <span class="fa"
                                      ng-class="{ 'fa-caret-down' :reverse , 'fa-caret-up':!reverse}"
                                      ng-show="active.name">
                                </span>
                        </th>

                        <th>Phone</th>

                        <th class="text-center">Edit</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="customer in customers">
                        <td>{{customer.id}}</td>
                        <td class="text-center">{{customer.name}}</td>
                        <td>{{customer.phone}}</td>
                        <td class="text-center">
                            <button class="btn btn-primary" ng-click="showCustomer(customer)">
                                <i class="fa fa-eye fa-lg"></i>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="center-block text-center">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"
                    ng-class="{active : selectedLetter===letter && inputSearch===''}">
                    <a ng-click="sortArray(letter)" href=""
                            >{{letter}}</a></li>
            </ul>
        </div>
    </div>
</div>
